/* from general to specific so that we allow overrides */
@import url(http://fonts.googleapis.com/css?family=Vesper:Sans-Serif);

body{
	font-family:'Vesper Libre', sans-serif;
}

.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}
.center{
	display:block;
 	margin:0 auto;
 	text-align:center;
 }
 .border{
 	border:1px solid #CCCCCC;
 	box-shadow:10px 10px 5px #888888;
 }
 .textAlignLeft{
 	text-align:left;
 }
 .textAlignMiddle{
 	margin:12% auto;
 }
 .upperCase{
 	text-transform:uppercase;
 }
 .textOutput{
 	color:#FFFFFF;
 }
 .positionRelative{
 	position:relative;
 }
 .formFieldBlock{
 	display:block;
 	margin:10px auto;
 	width:97%;
 }
 .backgroundImageDefault, .ui-widget-content .ui-state-default{
 	background:url(../images/module-headers.png) repeat scroll -11px -38px rgba(0, 0, 0, 0);
 }
.formHeading{
	background-position:100% -35px;
	color:#FFFFFF;
	margin:0 auto 3px auto;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-width:0 0;
	padding:0.2em 10px;
	height:26px;
	width:92%;
}
 .frmDefault{
 	width:800px;
 	min-width:460px;
 }
 .container{
 	width:80%;
 	background-color:#FFFFFF;
 }
 .whatDoesThisPageDo{
 	color:#FFFFFF;
 	background:#A31E1E;
	margin:1% auto; 	
	padding:20px 0 20px 4%;
 	width:90%;
 	clear:both;
 }
 .caption{
 	color:#FFFFFF;
 	background-position:-24px -46px;
 	text-align:left;
 	margin:10px 10px 10px 0;
 	padding:1px 0 0 3%;
 	width:97%;
 }
 /* ***** Begin jQuery UI tweaks ***** */
 .jsZindex{
 	z-index:33;
 }
 .divSlider .ui-slider-handle.ui-state-default{
 	outline:none;
 	background-position:6px 2px;
 	background-color:#A31E1E;
 	background:url(../images/spriteSliderM.png) repeat scroll 6px 2px rgba(139, 19, 19, 1.0);
 	background-repeat:no-repeat;
 	border:solid 1px rgba(153, 153, 153 , 1);
 	border-radius:5px;	
 	padding:0 9px;
 	width:3px;
 }
 .ui-slider-handle.ui-state-default, .divSlider .ui-slider-handle.zero{ /* JS class injection must repeat background position */
 	background-position:6px 1px;
 }
  .ui-slider-handle.ui-state-default:hover, .divSlider .ui-slider-handle.zero:hover{ /* JS class injection therefore must define background-position-y again */
 	background-position:-46px 1px;
 }
 
 .divSlider .ui-slider-handle.between{ /* JS class injection */
 	background-position:5px -40px;
 	width:18px;
 }
  .divSlider .ui-slider-handle.between.ui-state-hover{ /* JS class injection */
 	background-position:-33px -40px;
 }
 .divSlider .ui-slider-handle.hundred{ /* JS class injection */
 	background-position:3px -19px;
 }
.divSlider .ui-slider-handle.hundred.ui-state-hover{ /* JS class injection */
 	background-position:-49px -19px;
 }
 .widgetDefaultMargin{
 	margin:12px 0 0 0;
 }
 .ui-widget-content.widgetDefaultMargin{
 	margin:12px 0 0 0;
 	overflow:visible;
 }
 .ui-widget-header{
 	background:#8B1313;
 }
 .ui-datepicker-header.ui-widget-header{ /* calendar top-most header */
	background-position:-24px -107px;
 }
.hasDatepicker{ /* button having day-picker attached */
	background-position:-24px -46px;	
	color:#FFFFFF;
	cursor:pointer;
}
.hasDatepicker:hover{ /* button having day-picker attached */
	background-position:-24px -4px;
}
.ui-widget-content{
	background:#C17575;	
	margin:0 auto;
}
.ui-widget-content.ui-datepicker{ /* calendar background  */
	background:#4575B3;	
}
.ui-widget-content.ui-datepicker .ui-state-hover{ /* calendar day mouse over  */
	background-position:-24px -45px;
}
.ui-widget-content .ui-state-default{
	background-position:-24px -47px;
	cursor:pointer;
}
.ui-datepicker-calendar .ui-state-default{
	background-position:-24px -9px;
	color:#FFFFFF;
}
.ui-datepicker-calendar .ui-state-default.ui-state-active {
	background-position:-24px -107px;
}
.widgetContainer{
	margin:0 3%;
	width:94%;
	height:100px;
	background-color:#CCCCCC;
	clear:both;
}
.progressCol0{
	background-color:#999999;
	margin:auto;
	width:46%;
	height:99%;
}
.progressCol1{
	background-color:#555555;
	margin:auto;
	width:46%;
	height:99%;
}
 
 /* ***** End jQuery UI tweaks ***** */

















